<!DOCTYPE html>
<html>
  <head>
    <title>去打球 - 后台管理系统</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel=stylesheet href="/styles/admin/bootstrap.min.css">
    <link rel=stylesheet href="/fonts/admin/fonts/css/font-awesome.min.css">
    <link rel=stylesheet href="/styles/admin/animate.min.css">
    <link rel=stylesheet href="/styles/admin/custom.css">
    <link rel=stylesheet href="/styles/admin/icheck/flat/green.css">
		<script src="/js/admin/jquery.min.js"></script>
  </head>
  <body style="background:#fff">
  	{{{body}}}
  	<script src="/js/admin/bootstrap.min.js"></script>
  	<script src="/js/admin/jquery.dataTables.js"></script>
  	<script src="/js/admin/icheck.min.js"></script>
  	<script src="/js/admin/jquery.nicescroll.min.js"></script>
  	<script src="/js/admin/validator.js"></script>
  	<script src="/js/admin/custom.js"></script>
  	<script src="/js/admin/main.js"></script>
  </body>
  </html>